
<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="card-title text-center my-0">
                <h3>Mantenimientos</h3>  
            <br>
            <button button type="button" class="btn btn-primary" (click)="openBasicModal(basicModal)">
                <i class="feather icon-plus"></i>
                Nuevo
            </button>
        </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table #myTable class="myTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Mantenimiento</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of Mantenimiento">
                            <td>{{item.mant_Id}}</td>
                            <td>{{item.mant_Descricion}}</td>
                            <td><button type="button" class="btn btn-warning btn-icon-text">
                                <i class="feather icon-edit "></i>
                            </button>
                                |
                                <button type="button" class="btn btn-info btn-icon-text">
                                    <i class="feather icon-list "></i>
                                </button>
                                |
                                <button type="button" class="btn btn-danger btn-icon-text">
                                    <i class="feather icon-trash "></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
             </div>
        </div>
    </div>
    <ng-template #basicModal let-modal>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo registro</h5>
        </div>
        <form class="forms-sample" [ngClass]="{ 'ng-submitted': submitted, 'needs-validation': submitted }" (ngSubmit)="InsertarMantenimiento($event)">
            <div class="modal-body">
                <label for="exampleInputEmail1" class="form-label">Mantenimiento</label>
                <input type="text" class="form-control" id="exampleInputEmail1" required placeholder="Mantenimiento"
                  [(ngModel)]="mantenimientoValue" name="mantenimientoValue" #mantenimientoInput="ngModel"
                  [ngClass]="{ 'is-invalid': submitted && mantenimientoInput.invalid }">
                <div class="invalid-feedback" *ngIf="mantenimientoInput?.errors?.required && submitted">Mantenimiento requerido</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cancelar(); modal.close('by: close button')">Cerrar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>
      </ng-template>
      
</div>
