<div class="card">
  <div class="card-body">
    <div class="card-title text-center">
      <h3>Roles</h3>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-primary" (click)="crear()">
        <i class="feather icon-plus"></i>
        Nuevo
      </button>
    </div>
    <div class="table table-responsive">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" >
      <thead>
          <tr>
            <th> </th>
            <th>ID</th>
            <th>Descripción</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of roles; let i = index">
            <tr>
              <td>  
                <button type="button" class="btn btn-info btn-icon" (click)="mostrarPantallas(item.role_ID)">
                  <i class="feather icon-plus"></i>
                </button>
              </td>
              
              <td>{{ item.role_ID }}</td>
              <td>{{ item.role_Descripcion }}</td>
              <td>
                <button type="button" (click)="Editar(item)" class="btn btn-warning">
                  <i class="feather icon-edit"></i>
                </button>
                |
                <button type="button" class="btn btn-info" (click)="Detalles(item)">
                  <i class="feather icon-list"></i>
                </button>
                |
                <button type="button" class="btn btn-danger" (click)="openBasicModal1(basicModal2, item.role_ID)">
                  <i class="feather icon-trash"></i>
                </button>
                |
               
              </td>
            </tr>
            <tr *ngIf="mostrarTablaMaestra && rolSeleccionado === item.role_ID">
              <td [attr.colspan]="4">
                <div class="card mt-4">
                  <div class="card-body">
                    <h5 class="card-title">Pantallas</h5>
                    <div class="row">
                      <div class="col-md-4" *ngFor="let pantalla of pantallas; let i = index">
                        <div class="mb-3">
                          {{ pantalla.pant_Descripcion }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>            
          </ng-container>
        </tbody>
      </table>
    </div>
  </div> 
</div>

<ng-template #basicModal2 let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Eliminar Roles</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <h4>¿Desea eliminar este rol?</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="Eliminar()">Eliminar</button>
  </div>
</ng-template>
