<div class="container">
    <div class="card">
      <div class="card-header">
            <div class="card-title text-center my-0">
                <h3>playas</h3>  
            <br>
            <button button type="button" class="btn btn-primary">
                <i class="feather icon-plus"></i>
                Nuevo
            </button>
        </div>
        </div>
      <div class="card-body">
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
            <thead>
              <tr>
                <th>Id</th>
                <th>Playa</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of playas">
                <td>{{item.play_Id}}</td>
                <td>{{item.play_Playa}}</td>
                <td><button type="button" class="btn btn-warning btn-icon-text">
                  <i class="feather icon-edit "></i>
              </button>
                  |
                  <button type="button" class="btn btn-info btn-icon-text">
                      <i class="feather icon-list "></i>
                  </button>
                  |
                  <button type="button" class="btn btn-danger btn-icon-text">
                      <i class="feather icon-trash "></i>
                  </button>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>