.epa{
    background-color: rgb(255, 51, 102);
    border-radius: .25rem;
    display: inline-block;
    color: white;
}

.mmm{ 
    background-color: #fbbc06;
    border-radius: .25rem;
    display: inline-block;
    color: white;
}

.nice{
    background-color: #05a34a;
    border-radius: .25rem;
    display: inline-block;
    color: white;
}

::ng-deep .ng-dropdown-panel {
    z-index: 9999999!important;
}


.input-invalid {
    background-repeat: no-repeat !important;
    border: 1px solid #ff3366;
    border-radius: 4px;
    padding: 0px;
  }
  
  
.input-invalid-text{
    margin-top: 0.25rem;
    width: 100%;
    font-size: 0.875em;
    color: #ff3366;
}