<div class="card">
    <div class="card-body">
        <div class="card-title text-center"><h3>Municipios</h3></div>
        <div class="text-center">
            <button type="button" class="btn btn-primary" (click)="openBasicModal(basicModal)">
              <i class="feather icon-plus"></i>
              Nuevo
            </button>
          </div>
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Departamento</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of municipio">
                <td>{{item.muni_Id}}</td>
                <td>{{item.muni_Descripcion}}</td>
                <td>{{item.dept_Descripcion}}</td>
                <td><button type="button" class="btn btn-warning" (click)="openBasicModal1(basicModal1,item)">    <i class="feather icon-edit"></i></button>
                    |
                    <button type="button" class="btn btn-info" (click)="Detalles(item)">       <i class="feather icon-list"></i></button>
                </td>
              </tr>
          </table>
        </div>
      </div>
</div>

<ng-template #basicModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Nuevo Municipio</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
      <div class="row">

        <div class="form-group col-6">
          <label>Departamento</label>
          <ng-select [(ngModel)]="municipioCreate.dept_Id" [appendTo]="'body'" placeholder="--Seleccione una opción--"
          name="municipioCreate.dept_Id" #municipio="ngModel" required [ngClass]="{ 'input-invalid': submitted && !municipioCreate.dept_Id }"
          (ngModelChange)="onDepartamentoChange()">
          <ng-option *ngFor="let item of departamento" [value]="item.dept_Id">{{item.dept_Descripcion}}</ng-option>
        </ng-select>
        <div class="input-invalid-text" *ngIf="municipio?.errors?.required && submitted">El departamento es requerido</div>
        </div>

        <div class="form-group col-6">
          <label>ID</label>
          <input type="text" class="form-control" placeholder="ID de municipio" required #municipios
          [(ngModel)]="municipioCreate.muni_Id" [ngClass]="{ 'is-invalid': submitted && !municipioCreate.muni_Id || !nice}"
          (ngModelChange)="onIdChange()" (keypress)="validateInput($event)" (input)="limitLength($event)"/>
        <div class="invalid-feedback" *ngIf="municipio?.errors?.required && submitted || !nice">Ingrese un Id valido</div>
        </div>

        <div class="form-group col-6 mt-3">
          <label>Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre del Municipio" required [(ngModel)]="municipioCreate.muni_Descripcion" name="municipioCreate.muni_Descripcion" #municipio="ngModel"
        [ngClass]="{ 'is-invalid': submitted && !municipioCreate.muni_Descripcion }"/>
        <div class="invalid-feedback" *ngIf="!municipioCreate.muni_Descripcion && submitted">Nombre es requerido</div>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="Guardar()">Guardar</button>
  </div>
</ng-template>

<ng-template #basicModal1 let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Editar Municipio</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="form-group col-6">
          <label>Departamento</label>
          <ng-select [(ngModel)]="municipioEdit.dept_Id" [appendTo]="'body'" placeholder="--Seleccione una opción--"
          name="municipioEdit.dept_Id" #municipio="ngModel" required [ngClass]="{ 'input-invalid': submitted && !municipioEdit.dept_Id }">
          <ng-option *ngFor="let item of departamento" [value]="item.dept_Id">{{item.dept_Descripcion}}</ng-option>
        </ng-select>
        <div class="input-invalid-text" *ngIf="municipio?.errors?.required && submitted">El departamento es requerido</div>
        </div>
        <div class="form-group col-6">
          <label>Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre del Municipio" required [(ngModel)]="municipioEdit.muni_Descripcion" name="municipioEdit.muni_Descripcion" #municipio="ngModel"
        [ngClass]="{ 'is-invalid': submitted && !municipioEdit.muni_Descripcion }"/>
        <div class="invalid-feedback" *ngIf="!municipioEdit.muni_Descripcion && submitted">Nombre es requerido</div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="Editar()">Guardar</button>
  </div>
</ng-template>