<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="card-title text-center my-0">
                <h3>Equipos</h3>  
            <br>
            <button button type="button" class="btn btn-primary" (click)="Crear()">
                <i class="feather icon-plus"></i>
                Nuevo
            </button>
        </div>
        </div>
        <div class="card-body">
            <div class="table table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Descripcion</th>
                            <th>Uso actual</th>
                            <th>Uso limite</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of Equipos">
                            <td>{{item.equi_Id}}</td>
                            <td>{{item.equi_Descripcion}}</td>
                            <td>{{item.equi_UsoActual}}</td>
                            <td>{{item.equi_UsoLimite}}</td>
                            <td><button type="button" class="btn btn-warning btn-icon-text" (click)="Editar(item)">
                                <i class="feather icon-edit "></i>
                            </button>
                                |
                                <button type="button" class="btn btn-info btn-icon-text" (click)="Detalles(item)">
                                    <i class="feather icon-list "></i>
                                </button>
                                |
                                <button type="button" class="btn btn-danger btn-icon-text">
                                    <i class="feather icon-trash "></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>    
            </div>
        </div>
    </div>
</div>

