<div class="card">
    <div class="card-header text-center">
      <h4>Editar Roles</h4>
    </div>
    <div class="card-body">
      <div class="row">
        
        <div class="form-group col-6 mt-3">
          <label>Rol Descripcion</label>
          <input type="text" class="form-control mt-1" required placeholder="Ingrese el nombre del rol" name="roles.role_Descripcion" 
          [(ngModel)]="roles.role_Descripcion" [ngClass]="{ 'is-invalid': submitted && !roles.role_Descripcion}" #Roles="ngModel"/>
          <div class="invalid-feedback" *ngIf="submitted && !roles.role_Descripcion">Nombre requerido</div>
        </div>
              <div class="form-group col-6 mt-3">
                <div class="row">
                  <h6 class="mb-3">Asignar Pantallas al rol:</h6>
                  <div class="col">  
                    <label>Pantallas disponibles:</label>              
                    <ul class="list-group scrollable-list" [sortablejs]="pantallas" [sortablejsOptions]="sharedOptions">
                      <li class="list-group-item list-group-item-primary" *ngFor="let item of pantallas">{{ item.pant_Descripcion }}</li>
                    </ul>
                    <!-- <div class="p-3 rounded bg-gray-200 text-dark mt-3"> {{ equipos | json }} </div> -->
                  </div>
                  <div class="col">
                    <label>Pantallas Seleccionadas:</label>
                    <ul class="list-group scrollable-list" [sortablejs]="pantallas1" [sortablejsOptions]="sharedOptions">
                      <li class="list-group-item list-group-item-info" *ngFor="let item1 of pantallas1">{{ item1.pant_Descripcion }}</li>
                    </ul>
                    <!-- <div class="p-3 rounded bg-gray-200 text-dark mt-3"> {{ equipos1 | json }} </div> -->
                  </div>
                </div>
              </div>
             
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary mt-3 me-3" (click)="Regresar()">
                            <i class="feather icon-arrow-left"></i>Regresar
                        </button>
                        <button type="button" class="btn btn-primary mt-3" (click)="Editar()">
                            <i class="feather icon-save"></i>Guardar
                        </button>
                    </div>
                </div>
              
      </div>
    </div>
  </div>
  