<div class="card">
    <div class="card-header text-center">
        <h3>Detalles Roles</h3>
    </div>
    <div class="card-body">
    <div class="row">
        <div class="form-group col-6">
            <h4>ID</h4>
            <label class="mt-3">{{roles.role_ID}}</label>
        </div>
        <div class="form-group col-6">
            <h4>Descripcion</h4>
            <label class="mt-3">{{roles.role_Descripcion}}</label>
        </div>
    
    </div>
    <div class="card mt-3">
        <div class="card-header"><h2>Auditoria</h2></div>
        
        <table class="table table-striped">
                <thead>
                <tr>
                              <th>Accion</th>
                              <th>Usuario</th>
                              <th>Fecha</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                                  <td><label>Creacion</label></td>
                                  <td>{{roles.role_UsuarioCreador}}</td>
                                  <td>{{roles.role_FechaCreacion}}</td>
                              </tr>
                              <tr>
                                  <td>Modificacion</td>
                                  <td>{{roles.role_UsuarioModificador}}</td>
                                  <td>{{roles.role_FechaModificacion}}</td>
                              </tr>
                </tbody>
               </table>
      </div>
      <button type="button" class="btn btn-primary mt-3" (click)="Regresar()"><i class="feather icon-arrow-left"></i>Regresar</button>
        </div>
    </div>
